<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Data Space</title>

  <meta name="author" content="Georgetown Data Science">
  <meta name="keywords" content="machine learning, scikit-learn, data space">
  <meta name="description" content="Machine learning in data space web demo.">

  <!-- shortcut icon -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/galaxy-192.png') }}" sizes="192x192">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/galaxy-180.png') }}">

  <!-- stylesheets -->
  <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/flatly/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T5jhQKMh96HMkXwqVMSjF3CmLcL1nT9//tCqu9By5XSdj7CwR0r+F3LTzUdfkkQf" crossorigin="anonymous">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link href="{{ url_for('static', filename='css/dataspace.css') }}" rel="stylesheet">
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="/">Data Space</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="modal" data-target="#aboutModal">
              About
            </a>
          </li>
          </ul>
      </div>
    </nav>
  </header>

  <main role="main" class="container">
    <!-- alerts -->
    <div class="row">
      <div class="col" id="alerts"></div>
    </div>

    <!--result -->
    <div class="row">
      <div class="col-md-12 mb-0">
        <p class="invisible text-right mb-0 pb-0" id="metrics">
          Training F1 Score: <span id="f1score"></span>
        </p>
      </div>
    </div>

    <!-- dataspace -->
    <div class="row mt-0">
      <div class="col-md-12">
        <div class="border border-primary">
          <!-- the data visualization canvas -->
          <svg id="dataspace"></svg>
        </div>
      </div>
    </div><!-- dataspace ends -->

    <!-- data controls -->
    <div class="row mt-2">
      <div class="col-md-4">
        <form class="form-inline" id="modelSelectForm">
          <label class="my-1 mr-2" for="modelSelect">Select Model Family</label>
          <select class="custom-select my-1 mr-sm-2" id="modelSelect" role="tablist">
            <option value="bayes" role="tab">Naive Bayes</option>
            <option value="svm" role="tab">SVM</option>
            <option value="logit" role="tab">Logistic</option>
          </select>
          <button type="button" class="btn btn-primary mr-1" id="fitBtn">Fit</button>
          <button type="button" class="btn btn-info" id="infoBtn" data-toggle="modal" data-target="#bayesInfoModal">
            <i class="fa fa-info"></i>
          </button>
        </form>
      </div>
      <div class="col-md-4">
        <form class="form-inline justify-content-center" id="dataEntryForm">
          <label class="my-1 mr-2" for="classSelect">Add Points to Class</label>
          <select class="custom-select my-1 mr-sm-2" id="classSelect">
            <option value="0" selected>0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
          <button type="reset" class="btn btn-secondary" id="resetBtn">Reset</button>
        </form>
      </div>
      <div class="col-md-4">
        <form class="form-inline pull-right" id="datasetForm">
          <label class="my-1 mr-2" for="generator">Generate Dataset</label>
          <select class="custom-select my-1 mr-sm-2" name="generator">
            <option selected>&hellip;</option>
            <option value="moons">Moons</option>
            <option value="circles">Circles</option>
            <option value="blobs">Blobs</option>
            <option value="binary">Binary</option>
            <option value="multiclass">Multiclass</option>
          </select>
          <button type="submit" class="btn btn-primary" id="createBtn">Generate</button>
        </form>
      </div>
      <div class="clearfix"></div>
    </div><!-- data controls ends -->

    <!-- model controls -->
    <div class="row mt-4">
      <div class="col">
        <div class="tab-content" id="modelTabs">
          <div class="tab-pane fade show active" id="bayes" role="tabpanel">
            <form class="form">
              <div class="row">
                <div class="col-md-2">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="model" id="nbmodel1" value="gaussiannb" checked>
                    <label class="form-check-label" for="nbmodel1">
                      GaussianNB
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="model" id="nbmodel2" value="multinomialnb">
                    <label class="form-check-label" for="nbmodel2">
                      MultinomialNB
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="model" id="nbmodel3" value="bernoullinb">
                    <label class="form-check-label" for="nbmodel3">
                      BernoulliNB
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="model" id="nbmodel4" value="complementnb">
                    <label class="form-check-label" for="nbmodel4">
                      ComplementNB
                    </label>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group form-row mb-1">
                    <label for="alpha" class="col-form-label col-md-4">Alpha</label>
                    <div class="col-md-8">
                      <input class="form-control" type="text" name="alpha" id="alpha" value="1.0" disabled />
                    </div>
                  </div>
                  <div class="form-group form-row mb-1">
                    <label for="binarize" class="col-form-label col-md-4">Binarize</label>
                    <div class="col-md-8">
                      <input class="form-control" type="text" name="binarize" id="binarize" value="0.0" disabled />
                    </div>
                  </div>
                  <div class="form-group form-row mb-1">
                    <label for="var_smoothing" class="col-form-label col-md-4">Smoothing</label>
                    <div class="col-md-8">
                      <input class="form-control" type="text" name="var_smoothing" id="var_smoothing" value="1e-09" />
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="fit_prior" id="fit_prior" checked disabled>
                    <label class="form-check-label" for="fit_prior">Fit Prior</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="norm" id="norm" disabled>
                    <label class="form-check-label" for="norm">Norm</label>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="form-group form-row mb-1">
                    <label for="class_prior" class="col-form-label col-md-3">Class Prior</label>
                    <div class="col-md-9">
                      <input class="form-control" type="text" name="class_prior" id="class_prior" value="null" disabled />
                    </div>
                  </div>
                  <div class="form-group form-row mb-1">
                    <label for="priors" class="col-form-label col-md-3">Priors</label>
                    <div class="col-md-9">
                      <input class="form-control" type="text" name="priors" id="priors" value="null" />
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="tab-pane fade" id="svm" role="tabpanel">
            <form class="form">
              <input type="hidden" name="model" value="svm" />
              <input type="hidden" name="probability" value="true" />
              <div class="row">
                <div class="col-md-2">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="kernel" id="svmkernel1" value="linear" checked>
                    <label class="form-check-label" for="svmkernel1">
                      Linear
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="kernel" id="svmkernel2" value="poly">
                    <label class="form-check-label" for="svmkernel2">
                      Polynomial
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="kernel" id="svmkernel3" value="rbf">
                    <label class="form-check-label" for="svmkernel3">
                      RBF
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="kernel" id="svmkernel4" value="sigmoid">
                    <label class="form-check-label" for="svmkernel4">
                      Sigmoid
                    </label>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group form-row mb-1">
                    <label for="C" class="col-form-label col-md-4">C</label>
                    <div class="col-md-8">
                      <input class="form-control" type="text" name="C" id="C" value="1.0" />
                    </div>
                  </div>
                  <div class="form-group form-row mb-1">
                    <label for="degree" class="col-form-label col-md-4">Degree</label>
                    <div class="col-md-8">
                      <input class="form-control" type="number" name="degree" id="degree" value="3" min="1" max="42" step="1" disabled />
                    </div>
                  </div>
                  <div class="form-group form-row mb-1">
                    <label for="gamma" class="col-form-label col-md-4">Gamma</label>
                    <div class="col-md-8">
                      <input class="form-control" type="text" name="gamma" id="gamma" value="scale" disabled />
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group form-row mb-1">
                    <label for="coef0" class="col-form-label col-md-4">Coef0</label>
                    <div class="col-md-8">
                      <input class="form-control" type="text" name="coef0" id="coef0" value="0.0" disabled />
                    </div>
                  </div>
                  <div class="form-group form-row mb-1">
                    <label for="tol" class="col-form-label col-md-4">Tol</label>
                    <div class="col-md-8">
                      <input class="form-control" type="text" name="tol" id="tol" value="0.001" />
                    </div>
                  </div>
                  <div class="form-group form-row mb-1">
                    <label for="max_iter" class="col-form-label col-md-4">Max Iter</label>
                    <div class="col-md-8">
                      <input class="form-control" type="text" name="max_iter" id="max_iter" value="-1" />
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group form-row mb-1">
                    <div class="col-md-4"></div>
                    <div class="col-md-8">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="shrinking" id="shrinking" checked>
                        <label class="form-check-label" for="shrinking">Shrinking</label>
                      </div>
                      </div>
                    </div>
                  <div class="form-group form-row mb-1">
                    <label for="class_weight" class="col-form-label col-md-4">Class Weight</label>
                    <div class="col-md-8">
                      <input class="form-control" type="text" name="class_weight" id="class_weight" value="null" />
                    </div>
                  </div>
                  <div class="form-group form-row mb-1">
                    <label for="decision_function_shape" class="col-form-label col-md-4 my-1">Decision Shape</label>
                    <div class="col-md-8">
                      <select class="custom-select my-1 mr-sm-2" name="decision_function_shape" id="decision_function_shape">
                        <option value="ovr" selected>One v. Rest</option>
                        <option value="ovo">One v. One</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="tab-pane fade" id="logit" role="tabpanel">
            <form class="form">
              <input type="hidden" name="model" value="logit" />
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group form-row mb-1">
                    <label for="solver" class="col-form-label col-md-4">Solver</label>
                    <div class="col-md-8">
                      <select class="custom-select my-1 mr-sm-2" name="solver" id="solver">
                        <option value="newton-cg">Newton-CG</option>
                        <option value="lbfgs">LBFGS</option>
                        <option value="liblinear" selected>LibLinear</option>
                        <option value="sag">SAG</option>
                        <option value="saga">SAGA</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-row">
                    <label for="penalty" class="col-form-label col-md-4">Penalty</label>
                    <div class="col-md-8">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="penalty" id="penalty1" value="l1">
                        <label class="form-check-label" for="penalty1">
                          L1
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="penalty" id="penalty2" value="l2" checked>
                        <label class="form-check-label" for="penalty2">
                          L2
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="penalty" id="penalty3" value="elasticnet" disabled>
                        <label class="form-check-label" for="penalty3">
                          ElasticNet
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="penalty" id="penalty4" value="none" disabled>
                        <label class="form-check-label" for="penalty4">
                          None
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group form-row mb-1">
                    <label for="C" class="col-form-label col-md-5">C</label>
                    <div class="col-md-7">
                      <input class="form-control" type="text" name="C" id="C" value="1.0" />
                    </div>
                  </div>
                  <div class="form-group form-row mb-1">
                    <label for="intercept_scaling" class="col-form-label col-md-5">Scale Intercept</label>
                    <div class="col-md-7">
                      <input class="form-control" type="text" name="intercept_scaling" id="intercept_scaling" value="1.0" />
                    </div>
                  </div>
                  <div class="form-group form-row mb-1">
                    <label for="l1_ratio" class="col-form-label col-md-5">L1 Ratio</label>
                    <div class="col-md-7">
                      <input class="form-control" type="text" name="l1_ratio" id="l1_ratio" value="0.5" disabled />
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-8">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="fit_intercept" id="fit_intercept" checked>
                        <label class="form-check-label" for="fit_intercept">Fit Intercept</label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="dual" id="dual">
                        <label class="form-check-label" for="dual">Dual</label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group form-row mb-1">
                    <label for="multi_class" class="col-form-label col-md-4 my-1">Multi-Class</label>
                    <div class="col-md-8">
                      <select class="custom-select my-1 mr-sm-2" name="multi_class" id="multi_class">
                        <option value="auto" selected>Auto</option>
                        <option value="ovr">One v. Rest</option>
                        <option value="multinomial">Multinomial</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group form-row mb-1">
                    <label for="class_weight" class="col-form-label col-md-5">Class Weight</label>
                    <div class="col-md-7">
                      <input class="form-control" type="text" name="class_weight" id="class_weight" value="null" />
                    </div>
                  </div>
                  <div class="form-group form-row mb-1">
                    <label for="tol" class="col-form-label col-md-5">Tol</label>
                    <div class="col-md-7">
                      <input class="form-control" type="text" name="tol" id="tol" value="0.0001" />
                    </div>
                  </div>
                  <div class="form-group form-row mb-1">
                    <label for="max_iter" class="col-form-label col-md-5">Max Iter</label>
                    <div class="col-md-7">
                      <input class="form-control" type="number" name="max_iter" id="max_iter" value="100" step="10" min="10" max="10000" />
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div><!-- model tabs ends -->
      </div>
    </div><!-- model controls ends -->


  </main>

  <footer class="footer bg-light">
    <div class="container">
      <span class="text-muted">
        Made with &spades; by <a href="https://github.com/bbengfort">@bbengfort</a>
        for the Georgetown Data Science Certificate
      </span>
      <span class="text-muted pull-right">For Demonstration Purposes Only.</span>
    </div>
  </footer>

  <!-- modals -->
  <div class="modal fade" id="aboutModal" tabindex="-1" role="dialog"
       aria-labelledby="aboutModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="aboutModalLabel">About Data Space</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            In the tradition of Tkinter SVM GUI, the purpose of this website is to demonstrate how
            machine learning model forms are affected by the shape of the underlying dataset. By
            selecting a dataset or by creating one of your own, you can fit a model to the data
            and see how the model would make decisions based on the data it has been trained on.
            The fitted contours display the highest likelihoods of the class the model would select.
            Although this is a toy example, hopefully it helps give you the intuition that the
            machine learning process is a model selection search for the best combination of features,
            algorithm, and hyperparameter that generalize well in a bounded feature space.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="bayesInfoModal" tabindex="-1" role="dialog" aria-labelledby="bayesInfoModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="bayesInfoModalLabel">Naive Bayes</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            <a href="https://scikit-learn.org/stable/modules/naive_bayes.html" target="_blank">
            Naive Bayesian models</a> are a collection of supervised classification algorithms
            that apply Bayes rule of conditional probability with the "naive" assumption
            of conditional independence between all pairs of features given the value.
            Bayesian predictions are based on the conditional likelihood of the joint
            probability of all features and the target class. Becasue features are treated
            like likelihoods, the primary difference of each classifier is the assumptions
            they make about the distrubition of the features.
          </p>

          <ul class="list-unstyled">
            <li>
            <a href="https://scikit-learn.org/stable/modules/generated/sklearn.naive_bayes.GaussianNB.html#sklearn.naive_bayes.GaussianNB" target="_blank">
            GaussianNB </a>: Assumes the likelihood of features is Gaussian, e.g. a range of infinite values.
            </li>
            <li>
            <a href="https://scikit-learn.org/stable/modules/generated/sklearn.naive_bayes.MultinomialNB.html#sklearn.naive_bayes.MultinomialNB" target="_blank">
            MultinomialNB</a>: Features are treated as a finite number of discrete events measured as a multinomial distribution.
            </li>
            <li>
            <a href="https://scikit-learn.org/stable/modules/generated/sklearn.naive_bayes.BernoulliNB.html#sklearn.naive_bayes.BernoulliNB" target="_blank">
            BernoulliNB</a>: Features are distributed according to multivariate Bernoulli disribution: e.g. features are either 1 or 0.
            </li>
            <li>
            <a href="https://scikit-learn.org/stable/modules/generated/sklearn.naive_bayes.ComplementNB.html#sklearn.naive_bayes.ComplementNB" target="_blank">
            ComplementNB</a>: A modification of MultinomialNB where the class complement is used - good for class imbalance.
            </li>
          </ul>

          <h6>Hyperparameters</h6>
          <dl>
            <dt>Priors/Class Prior &middot; <code>array-like shape (n_classes,)</code></dt>
            <dd>Prior probabilities of the classes. If specified the priors are not adjusted according to the data. (Not used with ComplementNB)</dd>

            <dt>Smoothing &middot; <code>float</code></dt>
            <dd>Portion of the largest variance of all features that is added to variances for calculation stability.</dd>

            <dt>Alpha &middot; <code>float</code></dt>
            <dd>Additive (Laplace/Lidstone) smoothing parameter (0 for no smoothing).</dd>

            <dt>Fit Prior &middot; <code>bool</code></dt>
            <dd>Whether to learn class prior probabilities or not. If false, a uniform prior will be used.</dd>

            <dt>Binarize &middot; <code>float or None</code></dt>
            <dd>Threshold for binarizing (mapping to booleans) of sample features. If None, input is presumed to already consist of binary vectors.</dd>

            <dt>Norm &middot; <code>bool</code></dt>
            <dd>Whether or not a second normalization of the weights is performed.</dd>
          </dl>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="svmInfoModal" tabindex="-1" role="dialog" aria-labelledby="svmInfoModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="svmInfoModalLabel">Support Vector Machines</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            <a href="https://scikit-learn.org/stable/modules/svm.html" target="_blank">
            Support vector machines</a> are supervised, discriminitive classifiers that learn
            an optimal hyperplane that can separate and categorize data. This hyperplane
            (e.g. an defined space one dimension less than the ambient space) maximizes
            the distance between groups of classes by selecting support vectors from each
            group (potentially with some slack) then finding the parallel hyperplane between
            those vectors that is halfway between the orthogonal. To optimize support vector
            discovery, the kernel functions are used to find mappings that increase the space
            between points, increasing separability between classes.
          </p>
          <h6>Hyperparameters</h6>
          <dl>
            <dt>C &middot; <code>float</code></dt>
            <dd>Penalty parameter C of the error term.</dd>
            <dt>kernel &middot; <code>{'linear', 'poly', 'rbf', 'sigmoid', 'precomputed', None}</code></dt>
            <dd>
              Specifies the kernel type to be used in the algorithm. It must be one of the string
              choices or a callable. If None is given, ‘rbf’ will be used. If a callable is given
              it is used to pre-compute the kernel matrix from data matrices; that
              matrix should be an array of shape <code>(n_samples, n_samples)</code>.
            </dd>
            <dt>degree &middot; <code>int</code></dt>
            <dd>Degree of the polynomial kernel function (‘poly’). Ignored by all other kernels.</dd>
            <dt>gamma &middot; <code>float</code></dt>
            <dd>Kernel coefficient for ‘rbf’, ‘poly’ and ‘sigmoid’.</dd>
            <dt>coef0 &middot; <code>float</code></dt>
            <dd>Independent term in kernel function. It is only significant in ‘poly’ and ‘sigmoid’.</dd>
            <dt>shrinking &middot; <code>boolean</code></dt>
            <dd>Whether to use the shrinking heuristic.</dd>
            <dt>tol &middot; <code>float</code></dt>
            <dd>Tolerance for stopping criterion.</dd>
            <dt>class_weight &middot; <code>{dict, 'balanced'}</code></dt>
            <dd>
              Set the parameter C of class i to class_weight[i]*C for SVC. If not given, all classes are
              supposed to have weight one. The “balanced” mode uses the values of y to automatically adjust
              weights inversely proportional to class frequencies in the input data as
              <code>n_samples / (n_classes * np.bincount(y))</code>
            </dd>
            <dt>max_iter &middot; <code>int</code></dt>
            <dd>Hard limit on iterations within solver, or -1 for no limit.</dd>
            <dt>decision_function_shape &middot; <code>{‘ovo’, ‘ovr’}</code></dt>
            <dd>
              Whether to return a one-vs-rest (‘ovr’) decision function of shape <code>(n_samples, n_classes)</code>
              as all other classifiers, or the original one-vs-one (‘ovo’) decision function of libsvm which has shape
              <code>(n_samples, n_classes * (n_classes - 1) / 2)</code>. However, one-vs-one (‘ovo’) is always used
              as multi-class strategy.
            </dd>
          </dl>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="logitInfoModal" tabindex="-1" role="dialog" aria-labelledby="logitInfoModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="logitInfoModalLabel">Logistic Regression</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            <a href="https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression" target="_blank">
            Logistic Regression</a> is a supervised classification algorithm that models the probabilities
            describing the possible outcome (class) of a single trial using a logistic function. This method
            is also known as a logit regression, maximum-entropy classifier, or log-linear classifier.
          </p>

          <h6>Hyperparameters</h6>
          <dl>
            <dt>penalty &middot; <code>{'l1', 'l2', 'elasticnet', 'none'}</code></dt>
            <dd>
              Used to specify the norm used in the penalization. The ‘newton-cg’, ‘sag’ and ‘lbfgs’ solvers
              support only l2 penalties. ‘elasticnet’ is only supported by the ‘saga’ solver. If ‘none’ (not
              supported by the liblinear solver), no regularization is applied.
            </dd>
            <dt>dual &middot; <code>bool</code></dt>
            <dd>
              Dual or primal formulation. Dual formulation is only implemented for l2 penalty with liblinear
              solver. Prefer <code>dual=False</code> when <code>n_samples > n_features</code>.
            </dd>
            <dt>tol &middot; <code>float</code></dt>
            <dd>Tolerance for stopping criteria.</dd>
            <dt>C &middot; <code>float</code></dt>
            <dd>
              Inverse of regularization strength; must be a positive float. Like in support vector machines,
              smaller values specify stronger regularization.
            </dd>
            <dt>fit_intercept &middot; <code>bool</code></dt>
            <dd>Specifies if a constant (a.k.a. bias or intercept) should be added to the decision function.</dd>
            <dt>intercept_scaling &middot; <code>float</code></dt>
            <dd>
              Useful only when the solver ‘liblinear’ is used and self.fit_intercept is set to True. In this case,
              x becomes <code>[x, self.intercept_scaling]</code>, i.e. a “synthetic” feature with constant value
              equal to intercept_scaling is appended to the instance vector.
            </dd>
            <dt>class_weight &middot; <code>{dict, 'balanced'}</code></dt>
            <dd>
              Weights associated with classes in the form {class_label: weight}. If not given, all classes are
              supposed to have weight one. The “balanced” mode uses the values of y to automatically adjust weights
              inversely proportional to class frequencies in the input data as
              <code>n_samples / (n_classes * np.bincount(y)).</code>
            </dd>
            <dt>solver &middot; <code>{'newton-cg', 'lbfgs', 'liblinear', 'sag', 'saga'}</code></dt>
            <dd>Algorithm to use in the optimization problem.</dd>
            <dt>max_iter &middot; <code>int</code></dt>
            <dd>Maximum number of iterations taken for the solvers to converge.</dd>
            <dt>multi_class &middot; <code>{'ovr', 'multinomial', 'auto'}</code></dt>
            <dd>
              If the option chosen is ‘ovr’, then a binary problem is fit for each label. For ‘multinomial’ the
              loss minimised is the multinomial loss fit across the entire probability distribution, even when the
              data is binary. ‘multinomial’ is unavailable when solver=’liblinear’. ‘auto’ selects ‘ovr’ if the
              data is binary, or if solver=’liblinear’, and otherwise selects ‘multinomial’.
            </dd>
            <dt>l1_ratio &middot; <code>float</code></dt>
            <dd>
              The Elastic-Net mixing parameter, with <code>0 <= l1_ratio <=1</code>. Only used if <code>penalty='elasticnet'</code>.
              Setting <code>l1_ratio=0</code> is equivalent to using <code>penalty='l2'</code>, while setting <code>l1_ratio=1</code>
              is equivalent to using <code>penalty='l1'</code>. For <code>0 < l1_ratio < 1</code>, the penalty is a combination of L1 and L2.
            </dd>
          </dl>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- end modals -->

  <!-- javascript at the bottom of the page for faster loading -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"
    integrity="sha256-G7A4JrJjJlFqP0yamznwPjAApIKPkadeHfyIwiaa9e0=" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
    integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://d3js.org/d3-contour.v1.min.js"></script>
  <script src="https://unpkg.com/d3-fetch"></script>
  <script src="{{ url_for('static', filename='js/dataspace.js') }}"></script>

  <!-- google analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-8096804-15"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-8096804-15');
  </script>

</body>
</html>
